<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<script>
  //Catch errors with Google Analytics (must run first to catch all errors)
  addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});
</script>

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
{% include seo.html %}

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<meta http-equiv="cleartype" content="on">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">

