.splash__hero {
    position: relative;
    height: 75%;
    width: 100%;
    background-color: $dark-red;
}



#splash-main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    max-width: 100%;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;

}

#splash-footer{
    //display: none;
}