#splash__hero-container {
    position: relative;
    height: 75%;
    width: 100%;
    //background-color: $dark-red;
}

#splash__canvas-hero, #splash__canvas-work, #splash__canvas-tutorials, #splash__canvas-experiments, #splash__canvas-blog {
    position: relative;
    height: 100%;
    width: 100%;
}

#splash__canvas-work, #splash__canvas-tutorials, #splash__canvas-experiments, #splash__canvas-blog {
  //background-color: red;
}


#splash-main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;

}

#splash__under-hero{
    position: relative;
    width: 100%;
    height: 25%;
    margin-top: -0.37em;
    border-top: 1px solid $border-color;
}

#splash-footer{
    //display: none;
}