// @import "typography";
@import "colors";
@import "variables";

/* Breakpoint - media query mixins */

@import "vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);


.splash-row-canvas-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50vw;
    height: 50vw;
    @include breakpoint($small) {
        width: 40vw;
        height: 40vw;
    }
    @include breakpoint($medium) {
        width: 33.3333vw;
        height: 33.3333vw;
    }
    @include breakpoint($medium-wide) {
        position: relative;
        transform: translate(0, 0);
        width: 16em;
        height: 16em;
        top: 25%;
        left: 25%;
    }
}

.splash-row {
    position: relative;
    height: 30em;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

.splash-row-left {
    position: relative;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    @include breakpoint($medium-wide) {
        position: absolute;
        width: 50%;
        height: 100%;
    }
}

.splash-row-right {
    position: relative;
    width: 100%;
    height: 50%;
    right: 0;
    top: 0;
    @include breakpoint($medium-wide) {
        position: absolute;
        width: 50%;
        height: 100%;
    }
}

.splash-row-body {
    position: relative;
    text-align: center;
    top: 25%;
    left: 0;
    width: 100%;
    @include breakpoint($medium-wide) {
        top: 50%;
        left: 50%;
        max-width: 30em;
        transform: translate(-50%, -50%);
    }
}

.splash-row-desc {
    display: none;
    @include breakpoint($medium-wide) {
        display: block;
    }
}

.splash-row-title {
    border-bottom: none !important;
    position: absolute;
    top: 25%;
    font-weight: 900;
    color: $text-color;
    left: 50%;
    font-size: 200%;
    text-shadow: 3px 3px 2px $border-color, -3px -3px 2px $border-color;
    transform: translate( -50%, -50%);
}

.splash-row-title-link {}

.splash-row-canvas {
    position: relative;
    height: 100%;
    width: 100%;
}


/* ********************************************************** 

				CIRCLE ANIMATIONS
*/

$circle-width: 12em;
$shadow-depth: $circle-width * .1;
$y-offset: $shadow-depth * 0.5;
$x-offset: $y-offset * 1.73205081;
$gray1: rgba(180, 180, 180, .6);
$gray2: rgba(150, 150, 150, .6);
$gray3: rgba(120, 120, 120, .6);
$gray4: rgba(90, 90, 90, .6);
$gray5: rgba(60, 60, 60, .6);
$gray6: rgba(30, 30, 30, .6);
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#splash-circle-work {
    background-image: url('/assets/images/splash/hyper_3_512.jpg');
    background-size: 200%;
    transition: all 2s ease-in-out;
    box-shadow: inset 0.2em -0.1em 0 0 $dark-blue, inset -0.1em 0.1em 0 0 $medium-red, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ; // animation: spin 120s linear infinite;
    &:hover {
        box-shadow: inset -0.2em 0.1em 0 0 $dark-blue, inset 0.1em -0.1em 0 0 $medium-red, inset $x-offset (-$y-offset) 0 0 $gray1, inset 0 ($shadow-depth) 0 0 $gray3, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ;
        background-size: 100%;
        transition: all 0.5s ease-in-out;
    }
}

#splash-circle-experiments {
    background-image: url('/assets/images/splash/hyper_4_512.jpg');
    background-size: 200%;
    background-position: top right;
    transition: all 2s ease-in-out;
    box-shadow: inset 0.1em -0.1em 0 0 $medium-red, inset -0.2em 0.1em 0 0 $dark-blue, inset $x-offset (-$y-offset) 0 0 $gray1, inset 0 ($shadow-depth) 0 0 $gray3, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ; // animation: spin 120s linear infinite;
    &:hover {
        background-size: 100%;
        transition: all 0.5s ease-in-out;
        box-shadow: inset -0.1em 0.1em 0 0 $medium-red, inset 0.2em -0.1em 0 0 $dark-blue, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ;
    }
}

#splash-circle-tutorials {
    background-image: url('/assets/images/splash/hyper_1_512.jpg');
    background-size: 200%;
    background-position: center;
    transition: all 2s ease-in-out;
    box-shadow: inset 0.1em -0.1em 0 0 $dark-blue, inset -0.2em 0.1em 0 0 $medium-red, inset $x-offset (-$y-offset) 0 0 $gray1, inset $x-offset $y-offset 0 0 $gray5, inset 0 ($shadow-depth) 0 0 $gray3, inset (-$x-offset) $y-offset 0 0 $gray4, ; // animation: spin 120s linear infinite;
    &:hover {
        background-size: 100%;
        transition: all 0.5s ease-in-out;
        box-shadow: inset -0.1em 0.1em 0 0 $dark-blue, inset 0.2em -0.1em 0 0 $medium-red, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ;
    }
}

#splash-circle-blog {
    background-image: url('/assets/images/splash/hyper_2_512.jpg');
    background-size: 200%;
    background-position: bottom;
    transition: all 2s ease-in-out;
    box-shadow: inset 0.1em -0.1em 0 0 $medium-red, inset -0.2em 0.1em 0 0 $dark-blue, inset (-$x-offset) (-$y-offset) 0 0 $gray2, inset (-$x-offset) $y-offset 0 0 $gray4, inset $x-offset $y-offset 0 0 $gray5, inset 0 (-$shadow-depth) 0 0 $gray6, ; // animation: spin 120s linear infinite;
    &:hover {
        background-size: 100%;
        transition: all 0.5s ease-in-out;
        box-shadow: inset -0.1em 0.1em 0 0 $medium-red, inset 0.2em -0.1em 0 0 $dark-blue, inset $x-offset (-$y-offset) 0 0 $gray1, inset $x-offset $y-offset 0 0 $gray5, inset 0 ($shadow-depth) 0 0 $gray3, inset (-$x-offset) $y-offset 0 0 $gray4, ;
    }
}