/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Breakpoints
   ========================================================================== */

$x-small: 100px !default;
$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$xx-large: 1440px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$navicon-width: 28px !default;
$navicon-height: 4px !default;
$global-transition: all 0.2s ease-in-out !default;