#info{
  // position: absolute;
  // top: 100%;
  // margin: 0;
}

#view-container {
	position: relative;
	height: 90vh;
	width: 100%;
	margin: 0;
}

#view-container:fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

#viewer-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
  width: 100%; 
  text-align:center;
  border: 1px solid #062f4f; // rgba( 255, 255, 255, 0.35);
  background: rgb( 240,183,161 ); 
  background: radial-gradient(ellipse at center, rgba(84,84,84,1) 1%,rgba(38,37,33,1) 100%,rgba(191,110,78,1) 100%);
}

#error-overlay {
	// position: absolute;
	// top: 93%;
	// left: 0;
	// // height: 100%;
  // width: 100%; 
  // background-color: #000000; 
  // text-align:center;

  // z-index: 999;
}

#loading-bar {
	position: absolute; 
  left: 50%;
	top: 50%;
 	width: 50vw;
	transform: translate3d( -50%,-50%,0 );

	border-radius: 60px;
	overflow: hidden; 
	background-color: #eef1f3; 

	span {
		display: block;
	}
}

.bar {
  background-color: #eef1f3; 
}

#progress {
	background-color: #75b800;
	padding: 5px;
	color: #fff;
	width: 5px;
}

.fullscreen-controls{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkslategray;
	opacity: 0.75;
}

#help-overlay {
}

#settings-overlay {
}

.hide {
	display: none !important;
} 

#model-info{
}

#file-upload-form{
  position: absolute; 
  left: 50%;
	top: 40%;
 	width: 50vw;
	transform: translate3d( -50%,-50%,0 );
  text-align: center;
}

#top-controls{
	position: absolute;
	top: 0;
	right: 0.5em;
  width: 96%;
  height: 5%;
  left: 2%;

  // a {
	// 	color: black;
  //   // bottom: 50%;
  //   transform: translate( -50%, 50% );
  // }
  
  span {
    display: block;
    
  }
}

#light-symbol{
  color: black;
  position: absolute;
  top: 20%;
}

#bottom-controls {
	position: absolute;
	bottom: 0;
	right: 0.5em;
  width: 96%;
  height: 5%;
  left: 2%;

	a {
		color: black;
    // bottom: 50%;
    transform: translate( -50%, 50% );
	}

  span {
    display: block;
  }
}

#lighting-controls {

}

#lighting-slider {

}

#settings-button {
  float: left;
}

#fullscreen-button {
  float: right;
}

#playback-control {
  position: absolute;
  top: 20%;
  left: 16%
}

#animation-clips {
  position: absolute;
  left: 0;
  width: 15%;
  color: black;
}

#play-button, #pause-button {
  top: 25%;
  position: absolute;
}

#animation-controls {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  top: 0;
}

#right-buttons{
  position: absolute;
  right: 0;
  height: 100%;
  // top: 25%;
  width: 6%;
}

#animation-slider{
  position: absolute;
  right: 0;
  width: 80%;
}

#animation-controls:input[type=range] {
    height: 3px;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
}
#animation-controls:input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
#animation-controls:input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}
#animation-controls:input[type=range]::-moz-focus-outer {
    border: 0;
}
#animation-controls:input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
#animation-controls:input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}