---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body id="about-content" >
    <!--<div id="breakpoint">
      
    </div>-->
    
    {% if page.loadingOverlay %}{% include loading_overlay %}{% endif %}
    {% include browser-upgrade.html %}
    

    <div id="a" role="main">

			<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
	
					<div id="about-top">
						<div class="realistic blur blur-top">
							{% include masthead.html %}
							{{ content }}
						</div>
						<div class="realistic blur blur-top">
							{% include masthead.html %}
							{{ content }}
						</div>
					</div>
					<div id="about-bottom">
						<div class="realistic blur blur-bottom">
							{% include masthead.html %}
							{{ content }}

						</div>
						<div class="realistic blur blur-bottom">
							{% include masthead.html %}
							{{ content }}
						</div>
					</div>
					<div id="about-original" class="realistic original">
						{% include masthead.html %}
						<div contenteditable>
							{{ content }}
						</div>
					</div>

			</article>

		</div>

<script>
	// var steps = 2;

	// var content = document.querySelector( '#about-content' ).html;

	// var top=document.querySelector( '#about-top' );
  // var bottom=document.querySelector( '#about-bottom' );

</script>

    {% include scripts.html %}

  </body>
</html>





