---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: " en " }}" class="no-js">

<head>
	{% include head.html %}
</head>

	<body id="splash-body">
		<!--<div id="breakpoint">
				
			</div>-->

		{% if page.loadingOverlay %}
			{% include loading_overlay %}
		{% endif %} 
	
		{% include browser-upgrade.html %} 
		{% include masthead.html %}
		
		<!--<div id="about" class="splash-link">
			 <a href="{{ domain }}/about">About</a>
		</div>

		<div id="contact" class="splash-link">
			<a href="{{ domain }}/contact">Contact</a>
		</div>

		<div id="tutorials" class="splash-link">
			<a href="{{ domain }}/tutorials">Tutorials</a>
		</div>

		<div id="work" class="splash-link">
			<a href="{{ domain }}/work">Work</a>
		</div>

		<div id="experiments" class="splash-link">
			<a href="{{ domain }}/experiments">Experiments</a>
		</div>-->
		
		<div id="splash-canvas-container">
			<canvas id="splash-canvas"></canvas>
		</div>


		{% include scripts.html %}

	</body>

</html>


